body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('img/Rogers_Logo.jpg'); 
    background-size: cover;
    background-position: center;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.left-frame, .right-frame{
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.right-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#staff-display {
    width: 100%;
    font-size: 12px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#name-entry {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5); /* semi-transparent white background */
    backdrop-filter: blur(5px); /* blur effect */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

button {
    width: 32%;
    height: 40px;
    font-size: 12px;
    margin-bottom: 10px;
    background-color: #ff939395;
    color: #333;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s ease;
}

button:hover {
    background: #e622228c;
    box-shadow: 0 0 5px "#F03939, 0 0 20px #F03939;
}

#rotation-display {
    font-size: 24px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

#next-button {
    width: 100%;
    height: 40px;
    font-size: 12px;
    background: #7ef2ae;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: background 1s ease;
}

#next-button:hover {
    background: #2ecc71;
    box-shadow: 0 0 5px #59eb95, 0 0 20px #74ffae;
}

#notes-history-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#notes, #history {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}
#notes:hover, #history:hover {
    color: #2e9a5b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    cursor: pointer;
}
